# Data Science Tools and Ecosystem

In this notebook,Data Science Tools and Ecosystem are summarized

# List popular languages for Data Science
 __OBJECTIVES__
- Python
- SQL
- PowerBI

some of the popular languages that Data Scientists use are :
1. Python
2. R
3. PowerBI

some of the commonly used libraries used by Data Scientists include:
1. GGPYPLOT
2. PANDAS
3. SEABORN

| Data Science Tools | 
| ------------------ |
| Python 
| Seaborn
|GGPYPLOT

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
 #This will convert 200 minutes to hours by diving by 60
Hours = 200/60
print(Hours)

3.3333333333333335

## Author : Mark Billiarder Manasye